
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
    font-family: "DaxlinePro";
    src: url("../css/DaxlinePro-Black.ttf");
}

body{
    margin: 0;
    min-width: 1140px;
    background-color: rgb(239, 243, 226);
    font-family: "DaxlinePro";
    color: rgb(118, 162, 73);
}

header{
    position: fixed;
    left: 0;
    height: 105px;
    width: 100%;
    min-width: 1280px;
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 1fr 17%;
    grid-template-areas: "none logo promo card login";
    justify-items: center;
    align-items: center;
    background-color: white;
    font-size: 30px;
    box-shadow: 0px -50px 23px 40px black;
    z-index: 5;
}

.logo{
    grid-area: logo;
}

.logo img{
    width: 245px;
    height: 75px;
}

.promo{
    grid-area: promo;
}

.card{
    grid-area: card;
}

.login{
    grid-area: login;
    padding: 14px 25px 10px 25px;
    background-color: rgb(217, 0, 55);
    border-radius: 10px;
    color: white;
}


footer{
    height: 155px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 17px 1fr ;
    grid-template-areas: 
    "green_bl green_bl green_bl green_bl"
    "none about coop feedback"
    ;
    background-color: white;
    padding-top: 30px;
    box-shadow: 0px 53px 23px 40px black;
}

#green_bl{
    content: " ";
    height: 100%;
    width: 100%;
    grid-area: green_bl;
    background: linear-gradient(to top,rgb(85, 109, 59), rgb(128, 157, 101));
}

ul li{
    list-style: none;
    margin-top: 10px;
    padding-left: 10px;
}

.bg_red{
    color: rgb(217, 0, 55);
    font-size: 1.5em;
    padding-left: 0;
}

.about{
    grid-area: about;
}

.coop{
    grid-area: coop;
}

.feedback{
    grid-area: feedback;
}