main{
    height: 3150px;
    padding-top: 125px;
    display: grid;
    grid-template-columns: 2fr auto 2fr ;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    overflow: hidden;

}

.wrapper{
    grid-column: 2/3;
    width: 1280px;
    text-align: center;
    display: flexbox;
}

.text{
    color: white;
    text-shadow: 0px 0px 10px gray;
    margin-top: 50px;
}


.small{
    font-size: 45px;
}

.big{
    font-size: 50px;
}

#sl_one{
    height: 325px;
    width: 1170px;
    text-align: center;
    margin: 25px auto;;
}

.slider{
    position: relative;
    padding: 15px;
    background-color: rgb(123, 165, 65);
    border-radius: 10px;

    height: calc(100% - 20px);
}

.slide_item{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.active_slide{
    opacity: 1;
}

.slider_nav button{
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.nav_wrap{
    display: flex;
    height: auto;
    margin-top: 50px;
}

.catalog{
    margin-top: 50px;
}

.location{
    width: 50%;
    margin: auto;
}

.carta{
    box-shadow: 0px 0px 6px 3px gray;
}

.bottom_wrap{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 440px;
    width: 1105px;
    margin: 0 auto;
    margin-top: 200px;
}

.red_back{
    background-color: red;
    border-radius: 10px;
    height: 280px;
    width: 350px;
    display: flex;
}

.fr_column{
    grid-column: 1/2;
}

.sc_column{
    grid-column: 2/3;
}

.th_column{
    grid-column: 3/4;
}

.discount{
    margin: auto;
}

.bt_card{
    margin: auto;
}

.sign{
    margin: auto;
}

.text-medium{
    padding-top: 20px;
    font-size: 30px;
}

.red{
    color: red;
}