main{
    height: calc(100% - 155px);
    padding-top: 125px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 2fr ;
    grid-gap: 20px;
    overflow: hidden;
}

.slider_wrap{
    background-color: rgb(123, 165, 65);
    border-radius: 10px;
    position: relative;
}

#sl_one{
    height: 625px;
    width: 720px;
    grid-column: 2/3;
}

#sl_two{
    height: 550px;
    width: 345px;
    grid-column: 3/4;
    margin-top: 30px;
}

.slide_item{
    position: absolute;
    left: 25px;
    top: 25px;
    opacity: 0;
    transition: opacity 1s;
}

.active_slide{
    opacity: 1;
}